<!DOCTYPE html>
<html>  
  <head>
	<title>listado cliente comprador</title>
  </head>  
  <body>
	<h1><g:link action="index"listado cliente comprador</g:link> - Listado</h1>
  <table>
    <tr>
      <th>Codigo</th>
      <th>nombre_cliente</th>
      <th>apellido_cliente</th>
    </tr>
      <g:each in="${listado?}">
          <tr>
            <td>${it.codigo}</td>    <!-- ver como enlsazar el "id" al "codigo" -->
            <td>${it.nombre_cliente}</td>
            <td>${it.apellido_cliente}</td>
          </tr>
      </g:each>
  </table>
  </body>  
</html>
