<!DOCTYPE html>
<html>  
  <head>
	<title>Alta de cliente</title>
  </head>  
  <body>
	<h1><g:link action="index">alta de cliente</g:link> - Alta</h1>  


  <g:form action="#" method="post"> 

    <fieldset> <legend>Datos del Cliente Comrador</legend>

    

      <label for="nombre_cliente">nombre_cliente</label>
      <input type="text" name="nombre_cliente" id="nombre_cliente" size="50" maxlength="50" /> <br/>
      
      <label for="apellido_cliente">apellido_cliente</label>
      <input type="text" name="apellido_cliente" id="apellido_cliente" size="50" maxlength="50" /> <br/>
      
      <label for="domicilio_cliente">domicilio_cliente</label>
      <input type="text" name="domicilio_cliente" id="domicilio_cliente" size="8" maxlength="50" /> <br/>
      
      <label for="telefono_cliente">telefono_cliente</label>
      <input type="text" name="telefono_cliente" id="telefono_cliente" size="50" maxlength="50" /> <br/>
      
      <label for="email_cliente">email_cliente</label>
      <input type="text" name="email_cliente" id="email_cliente" size="50" maxlength="50" /> <br/>
      

      <label for="tipo_cliente">tipo_cliente</label>
      <input type="text" name="tipo_cliente" id="tipo_cliente" size="50" maxlength="50" /> <br/>
      
      <label for="dni_cliente">dni_cliente</label>
      <input type="text" name="dni_cliente" id="dni_cliente" size="50" maxlength="50" /> <br/>

    
    </fieldset>
  </g:form>
  </body>  
</html>
