<!DOCTYPE html>
<html>  
  <head>
	<title>OPCIONES </title>
  </head>  
  <body>
	<h1>Administrado </h1>
  

  <ul>
      <li><g:link controller="falta_controlador" action="funcion_vista">ABM Cliente vendedor</g:link></li>
      <li><g:link controller="falta_controlador" action="funcion_vista">ABM Cliente Comprardo</g:link></li>
      <li><g:link controller="falta_controlador" action="funcion_vista">ABM Propiedades </g:link></li>
      <li><g:link controller="falta_controlador" action="funcion_vista">ABM CONTRATOS</g:link></li>
      <li><g:link controller="falta_controlador" action="funcion_vista">ABM USUARIOS </g:link></li>
      <li><g:link controller="falta_controlador" action="funcion_vista">Ver Consultas Pendientes</g:link></li>
      
  </ul>
  


  </body>  
</html>
